body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

.nav > li:nth-child(n + 2) {
    margin-left: 35px;
}

.nav > li > a {
    text-decoration: none;
    color: #b8becd;
    font-size: 16;
}

.nav > :first-child > a {
    color: #202336;
    font-weight: 800;
}

.login,
.register {
    border: 1px solid #fb8f1d;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 48px;
    background-color: white;
    box-sizing: border-box;
}

.register {
    background-color: #fb8f1d;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("../images/logo/logo.png");
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

/* ========================================================================== */
/* designing */
/* ========================================================================== */

.page {
    margin-top: 135px;
    margin-bottom: 135px;
}

#main_page {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#main_page > img {
    width: 100%;
    max-width: 687px;
    height: auto;
    align-self: center;
    justify-self: center;
}

.page__info {
    display: flex;
    flex-direction: column;

    h1 {
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 125%;
        color: #202336;
        mix-blend-mode: normal;
    }

    form h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        position: relative;
        padding-bottom: 20px;
    }

    form h4::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: #202336;
        border-radius: 4px;
        bottom: 0;
        left: 0;
    }
    form div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 30px;
        justify-items: stretch;
        align-items: center;
    }
    form button {
        margin-top: 40px;
        padding: 16px 60px;
        background: #fb8f1d;
        border-radius: 8px;
        box-sizing: border-box;
        border: none;
    }
}

.select {
    padding: 21px 31px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

#page__second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 100%;
        max-width: 600px;
    }
}

.info {
    width: 100%;
    max-width: 450px;
    h2 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 139%x;
        color: #000000;
        mix-blend-mode: normal;
        margin-bottom: 20px;
    }
    p {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 176%;
        color: #7d7987;
        mix-blend-mode: normal;
        margin-bottom: 33px;
    }

    button {
        padding: 16px 40px;
        background: #fb8f1d;
        border-radius: 8px;
        box-sizing: border-box;
        border: none;
    }
}

#page__third {
    padding: 0 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 139%;
        color: #000000;
        mix-blend-mode: normal;
    }
    a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 353%;
        color: #fb8f1d;
        mix-blend-mode: normal;
        text-decoration: none;
    }
}

.destinations {
    display: flex;
    justify-content: space-between;
    img {
        border-radius: 10px;
        filter: blur(1px);
    }
}

.destination__card {
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    left: -2px;
    border: none;
    background: #fff;
    border-radius: 0px 6px 0px 0px;
    padding: 11px 20px 5px 5px;

    h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 147%;
        color: #042521;
        margin: 0px;
    }
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
        color: #80918e;
        margin: 0px;
    }
}

/* ========================================================================== */
/* The fours section */
/* ========================================================================== */

#page__fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories {
    @extend .destinations;
    margin-bottom: 271px;
}

.stories__item {
    max-width: 272px;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        max-height: 230px;
        filter: none;
    }

    h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 30px;
        color: #000000;
        mix-blend-mode: normal;
    }
    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        color: #7d7987;
        mix-blend-mode: normal;
    }

    a {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        color: #fb8f1d;
        text-decoration: none;
    }
}

/* ========================================================================== */
/* Author */
/* ========================================================================== */
#testimonial {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
    margin-bottom: 60px;
}

#author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author__info {
    width: 100%;
    max-width: 450px;
    p {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        /* or 150% */

        color: #000000;

        mix-blend-mode: normal;
    }
}

.author__image {
    width: 384px;
    height: 491px;
    background: url("../images/testimonials/main.png");
    background-position: center;
    border-radius: 16px;
}
